.venv/
__pycache__/
*.pyc
.vscode/
test_images/
train_images/
sample_submission.csv
test.csv
train.csv
testing_sample.py
experiments/transferrable.md
datasets/
how to run.md
artifacts/logs
experiments/future_additions.md
experiments/ben graham.md
experiments/pipeline_plain_english.md
experiments/pipeline_architecture.md
